#protofacebox .b {
  background:url(b.png);
}

#protofacebox .tl {
  background:url(tl.png);
}

#protofacebox .tr {
  background:url(tr.png);
}

#protofacebox .bl {
  background:url(bl.png);
}

#protofacebox .br {
  background:url(br.png);
}

#protofacebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#protofacebox .popup {
  position: relative;
}

#protofacebox_table {
  border-collapse: collapse;
}

#protofacebox td {
  border-bottom: 0;
  padding: 0;
}

#protofacebox_body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#protofacebox_loading {
  text-align: center;
}

#protofacebox_image {
  text-align: center;
}

#protofacebox img {
  border: 0;
  margin: 0;
}

#protofacebox_footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#protofacebox_footer img {
  vertical-align: middle;
}

#protofacebox .tl, #protofacebox .tr, #protofacebox .bl, #protofacebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#protofacebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.protofacebox_hide {
  z-index:-100;
}

.protofacebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #protofacebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
